defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]
    minVersion = "VersionTLS12"
    cipherSuites = [
      "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
      "TLS_RSA_WITH_AES_256_GCM_SHA384"
      ]
    [entryPoints.https.auth]
      [entryPoints.https.auth.basic]
      users = ["dracuser:$apr1$7q7zzUND$txFR.JfPQUt3W6O80qNKA1"]
  [entryPoints.dashboard]
  address = ":8443"
    [entryPoints.dashboard.tls]
    minVersion = "VersionTLS12"
    cipherSuites = [
      "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
      "TLS_RSA_WITH_AES_256_GCM_SHA384"
      ]
    [entryPoints.dashboard.auth]
      [entryPoints.dashboard.auth.basic]
      users = ["admin:$apr1$CdbXvOgs$PXIzwr/kmk7LRBvDGwrxu."]

[api]
entrypoint="dashboard"

[acme]
email = "my_acme_email@mydomain.com"
storage = "acme.json"
entryPoint = "https"
  [acme.dnsChallenge]
  provider = "cloudflare"
  delayBeforeCheck = 0
  [[acme.domains]]
  main = "*.mydomain.com"

[docker]
domain = "mydomain.com"
watch = true
network = "web"